.my-navbar-link{
    font-family: Roboto;
    font-size: 14px;
    text-decoration: none;
    color: white;
    padding: 15px;
}

/* .my-navbar-link:hover {
    font-family: Roboto;
    font-size: 14px;
    text-decoration: none;
    color: white;
    height: 100%;
    padding: 15px 15px 15px 15px;
    background-color: #61fb69; 
} */

.my-navbar-link-active {
    font-family: Roboto;
    font-size: 14px;
    text-decoration: none;
    color: white;
    height: 100%;
    padding: 15px;
    background-color: #8AC240;
}

.my-navbar-icon{
    color: white;
    position: absolute;
    right: 0px;
    padding: 15px;
}